body{
    font-family: 'Georgia';
}

#pageHeader{
    color: #000;
}

.servicescard{
    margin-bottom: 2%;
}

.servicesDropdown{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.homecard{
    margin-bottom: 2%;
}

.homecard:hover{
    cursor: pointer;
}

    